{% extends "base.html" %}

{% block head %}
<title>yt - Content Filters</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/content_filters.css') }}">
{% endblock %}

{% block content %}
<h2>Content Packs:</h2>
<form action="{{ url_for('social.user_content_packs') }}" method="POST">
    <input type="text" id="filterNameInput" name="filterNameInput" placeholder="Choose a name..." required>
    <button type="submit">+</button>
</form>
<ul>
    {% for pack in content_packs %}
        <li id="pack-{{ pack.content_pack_id }}" onclick="toggleContentPackState({{ pack.content_pack_id }});" class="{% if pack.is_enabled %}enabled{% else %}disabled{% endif %}">
            <strong>{{ pack.name }}</strong><br>
            Public: {{ 'Yes' if pack.is_public else 'No' }}<br>
            {% if pack.is_author %}
                Created by you.<br>
            {% endif %}
            <button onclick="event.stopPropagation(); window.location.href='{{ url_for('social.edit_filter', packId=pack.content_pack_id) }}';">+</button>
        </li>
    {% else %}
        <li>No content packs found.</li>
    {% endfor %}
</ul>

<script>
function toggleContentPackState(packId) {
    fetch(`/toggle-content-pack/${packId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify("pack-"+packId)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            const pack = document.getElementById('pack-'+packId);
            if (pack.classList.contains('enabled')) {
                pack.classList.remove('enabled');
                pack.classList.add('disabled');
            } else {
                pack.classList.remove('disabled');
                pack.classList.add('enabled');
            }
        }
    })
    .catch(error => console.error('Error toggling content pack state:', error));
}
</script>
{% endblock %}
