{% extends "base.html" %}

{% block head %}
<title>yt - edit filter</title>
{% endblock %}

{% block content %}

<form action="/edit_filter/{{ pack_id }}" method="post">
  {% if is_duplicate_id_error %} 
    <p style="color: red;">Error: Duplicate ID detected.</p> 
  {% endif %}
  <label for="id">Enter id:</label>
  <input type="text" id="id" name="id" required>
  <br><br>
  
  <label><input type="checkbox" name="is_channel_id" value="true"> is_channel_id</label><br>
  <label><input type="checkbox" name="is_blacklist_filter" value="true"> is_blacklist_filter</label><br><br>
  
  <input type="submit" value="Submit">
</form>
{% for filter in user_filters %}
  <li>{{ filter.user_id }} - {{ filter.content_pack_id }} - {{ filter.is_blacklist_filter }} - {{ filter.is_channel_id }} - {{ filter.youtube_id }}</li>
{% endfor %}
{% endblock %}
