{% extends "base.html" %}

{% block head %}
<title>yt - Profile</title>
{% endblock %}

{% block content %}
{% include "top_bar_template.html" %}
<div class="profile-container">
<h1>My Account</h1>
<section>
    <h2>Preferences</h2>
    <form action="#" method="post">
        <p></p>
        <p>
            Theme:
            {% for theme, id in user_themes.items() %}
                <input type="radio" name="theme" value="{{ id }}" {% if loop.index0 == active_theme %}checked{% endif %}>
                <label>{{ theme }}</label>
            {% endfor %}
        </p>
        <p>
            <input type="submit" value="Confirm Selection">
        </p>
    </form>
    <h2>Account Details</h2>
    <p>
        Email: <span>{{ redacted_email }}</span>
        <a id="logout-button" href="{{ url_for('accounts.logout') }}" class="button">Logout</a>
    </p>
    <p>
        <a href="{{ url_for('accounts.change_email') }}" class="button">Change Email</a>
        <a href="{{ url_for('accounts.change_password') }}" class="button">Change Password</a>
    </p>
</section>
</div>
{% endblock %}
