{% extends "base.html" %}

{% block head %}
<title>yt - Profile</title>
{% endblock %}

{% block content %}
{% include "top_bar_template.html" %}
<div class="profile-container">
<h1>My Account</h1>
<section>
    <h2>Preferences</h2>
    <form action="#">
        <p></p>
        <p>
            Theme:
            <input type="radio" id="light-theme" name="theme" value="light">
            <label for="light-theme">Light</label>
            <input type="radio" id="dark-theme" name="theme" value="dark">
            <label for="dark-theme">Dark</label>
        </p>
        <p>
            <input type="submit" value="Confirm Selection">
        </p>
    </form>
    <h2>Account Details</h2>
    <p>
        Email: <span>{{ redacted_email }}</span>
        <a id="logout-button" href="{{ url_for('accounts.logout') }}" class="button">Logout</a>
    </p>
    <p>
        <a href="{{ url_for('accounts.change_email') }}" class="button">Change Email</a>
        <a href="{{ url_for('accounts.change_password') }}" class="button">Change Password</a>
    </p>
</section>
</div>
{% endblock %}
