<!-- a floating top bar with a search box -->
<div class="top-bar">
    <a href="{{ url_for('main.index') }}" class="home-button">Home</a>
    {% block menu %}
    {% endblock %}
    <div class="button-group">
        <a id="accountButton" href="https://www.example.com">
            <img src="{{ url_for('static', filename='resources/assets/user-account-icon.svg') }}"></img>
        </a>
    </div>
</div>

<!-- add padding above content to prevent the top bar from covering it -->
<div class="top-bar-padding"></div>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/top_bar_template.css') }}">
{% block imports %}
{% endblock %}
